.item-container {
  display: flex;
  margin-left: 2.5rem;
  align-items: center;
}

.text-container {
    color: #ffffff; 
    font-weight: 700; 
    
}


@media only screen and ((min-width: 400px) and (max-width: 768px)) {
    .item-container{
        display:flex;
        flex-direction:column;
    }

    .text-container { 
        font-size: medium;
    }
    
    .theme{
        left:55px;
    }

    p.text-container{
        font-size: 7.0rem;
    }
    Button.button-css{
        margin-left: 3.8rem;
    }
  }

  